/*-------------------------------------
KALOO EXAMPLES

Application

version: 	1.0
author: Chris Sloan
copyright:	(c)2008	
---------------------------------------*/

/* @group TABS */
ul.databs li.active a{
	color: #ff0000;
}


/* @end */

/* @group SLIDER */	
	.slider_item{
		width: 400px;
	}
	
	.highlighted{
		color: #ff0000;
	}
/* @end */